@using System.Text.Json
@using System.Text.Encodings.Web
@model LoginRegisterViewModel

@{

   ViewData["Title"] = "Entre ou registre-se";

   var activeTab = TempData["ActiveTab"]?.ToString() ?? "login";
}

@section Styles {
   <!-- Bootstrap Icons -->
   <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css" rel="stylesheet">
   <link rel="stylesheet" href="~/css/loginPage.css" />
}



<div class="card p-4 shadow ">

   <!-- Pills navs -->
   <ul class="nav nav-pills mb-3 justify-content-center gap-2" id="pills-tab" role="tablist">
      <li class="nav-item" role="presentation">
         <button class="nav-link login-pill @(activeTab == "login" ? "active" : "")" id="pills-login-tab" data-bs-toggle="pill" data-bs-target="#pills-login" type="button" role="tab">Login</button>
      </li>
      <li class="nav-item" role="presentation">
         <button class="nav-link registro-pill @(activeTab == "register" ? "active" : "")" id="pills-register-tab" data-bs-toggle="pill" data-bs-target="#pills-register" type="button" role="tab">Cadastro</button>
      </li>
   </ul>


   <!-- Pills content -->
   <div class="tab-content" id="pills-tabContent">


      <!-- Login -->
      <div class="tab-pane fade @(activeTab == "login" ? "show active" : "")" id="pills-login" role="tabpanel">
         <form id="formLogin" asp-action="Login" asp-controller="Auth" method="post">
            @if (ViewData["Route"] is not null)
            {
               <input type="hidden" name="route" value="@ViewData["Route"]" />
            }


            <!--usuario ou email-->
            <div class="mb-3">
               <label name="UserName" class="form-label">Usuário ou Email</label>
               <input name="UserName" value="@Model?.Login?.UserName" type="text" class="form-control" id="loginEmail" required />
            </div>

            <!--senha-->
            <div class="mb-3 position-relative">
               <label name="Password" class="form-label">Senha</label>
               <input name="Password" value="@Model?.Login?.Password" type="password" class="campo-senha form-control" id="loginSenha" required />
               <i onclick="showPassWord()" class="bi bi-eye-fill btn-toggle-senha position-absolute end-0 translate-middle-y me-2" style="top:74%"></i>
            </div>

            <!--lembrar de mim checkbox-->
            <div class="form-check mb-3">
               <input class="form-check-input" type="checkbox" name="RememberMe" value="true" id="rememberMeLoginForm" @(Model?.Register?.RememberMe == null ? "checked" : Model?.Register?.RememberMe == true ? "checked" : "") />
               <label class="form-check-label" for="rememberMe">
                  Lembrar de mim
               </label>
            </div>

            <button type="submit" class="btn btn-primary w-100">Entrar</button>
         </form>
      </div>


      <!-- Registro -->
      <div class="tab-pane fade @(activeTab == "register" ? "show active" : "")" id="pills-register" role="tabpanel">
         <form id="formRegistro" asp-action="Register" asp-controller="Account" method="post">

            <!--user name field-->
            <div class="mb-3">
               <label name="UserName" class="form-label">Nome de usuário<span class="color-red">*</span></label>
               <input name="UserName" value="@Model?.Register?.UserName" type="text" class="form-control" id="registerUserName" required />
            </div>


            <!--email field-->
            <div class="mb-3">
               <label name="Email" class="form-label">Email</label>
               <input name="Email" value="@Model?.Register?.Email" type="email" class="form-control" id="registerEmail" />
            </div>


            <!--password field-->
            <div class="mb-3 position-relative">
               <label name="Password" class="form-label">Senha<span class="color-red">*</span></label>
               <input name="Password" value="@Model?.Register?.Password" type="password" class="form-control campo-senha" id="registerSenha" required />
               <i onclick="showPassWord()" class="bi bi-eye-fill btn-toggle-senha position-absolute end-0 translate-middle-y me-2" style="top:74%"></i>
            </div>


            <!--confirm password field-->
            <div class="mb-3 position-relative">
               <label class="form-label">Confirme a Senha<span class="color-red">*</span></label>
               <input type="password" class="campo-senha form-control" id="confirmSenha" required />
               <div id="senhaErro" class="text-danger mt-1" style="display:none;">As senhas não coincidem.</div>
            </div>


            <!--escolha do tipo de usuario-->
            <div class="mb-3">
               <label for="UserType" class="form-label">Tipo de Usuário<span class="color-red">*</span></label>
               <select name="UserType" id="UserType" class="form-select" required>
                  <option value="">Selecione...</option>
                  <option value="admin" selected="@(Model?.Register?.UserType == "admin")" >Administrador</option>
                  <option value="user" selected="@(Model?.Register?.UserType == "user")" >Usuario</option>
               </select>
            </div>

            <!--lembrar de mim checkbox-->
            <div class="form-check mb-3">
               <input class="form-check-input" type="checkbox" name="RememberMe" value="true" id="rememberMeRegisterForm" @(Model?.Register?.RememberMe == null ? "checked" : Model?.Register?.RememberMe == true ? "checked" : "") />
               <label class="form-check-label" for="rememberMe">
                  Lembrar de mim
               </label>
            </div>


            <!--submit-->
            <button type="submit" class="btn btn-success w-100">Cadastrar</button>
         </form>

      </div>
   </div>
</div>



@section Scripts {
   @{
      await Html.RenderPartialAsync("_ValidationScriptsPartial");
   }

   <script type="text/javascript" src="~/js/loginPage.js"></script>
   <script type="text/javascript" src="~/js/loginPageFormVerify.js"></script>
   
}



