@model IEnumerable<UserViewModel>
@{
   ViewData["Title"] = "Listar de Usuários";
   bool isAdmin = User.Identity?.IsAuthenticated == true && User.IsInRole("admin");
}

@section Styles{
   <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.css">

   <style>
      @@media (max-width: 770px){
         body{
            font-size: 14px;
         }
      }

      @@media (max-width: 510px) {
         body {
            font-size: 10px;
         }
      }
   </style>
}


<div class="container mt-5" style="width:100%">
   <h2 class="text-center mb-4">Lista de Usuários</h2>
   <div class="table-responsive" style=" width:100%">
      <table class="table table-bordered table-striped text-center align-middle">
         <thead class="table-dark">
            <tr>
               @if (isAdmin)
               {
                  <th>Email</th>
               }
               <th>Nome de Usuário</th>
               <th>Tipo de Usuário</th>
               <th>Criado em</th>
               @if (isAdmin)
               {
                  <th>Ações</th>
               }
            </tr>
         </thead>
         <tbody>
            @if (Model != null && Model.Any())
            {
               foreach (var user in Model)
               {
                  <tr>
                     @if (isAdmin)
                     {
                        <td>@user.Email</td>
                     }
                     <td>@user.UserName</td>
                     <td>@user.UserType</td>
                     <td>@user.CreatedAt.ToString("dd/MM/yyyy HH:mm")</td>

                     @if (isAdmin)
                     {
                        <td>
                           <a href="/account/admin/updateUser?userId=@user.Id"
                              class="btn btn-sm btn-primary me-2"
                              title="Editar">
                              <i class="bi bi-pencil"></i>
                           </a>
                           <a href="#"
                              class="btn btn-sm btn-danger"
                              title="Excluir">
                              <i class="bi bi-trash"></i>
                           </a>
                        </td>
                     }
                  </tr>
               }
            }
            else
            {
               <tr>
                  <td colspan="@(isAdmin ? 5 : 3)" class="text-muted">
                     Nenhum usuário encontrado.
                  </td>
               </tr>
            }
         </tbody>
      </table>
   </div>
</div>
